* {
    margin: 0px;
}

main {
    display: flex;
    flex-direction: column;
    margin: 2%;
    .navbar {
        display: flex;
        justify-content: space-between;
        
        &__youtube-main {
            background-image: url("../img/youtube-logo.png");
            background-size: contain;
            background-repeat: no-repeat;
            width: 100%;
            &:active {
                filter:opacity(0.7)
            }
        }
        &__main {
            width: 70%;
        }
    }
    .button-style {
        font-size: 100%;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: white;
        background: black;
        border-radius: 15%;
        &:active {
            background: red;
        }
    }
    .youtube-player-container {
        .find-video {
            display: flex;
            justify-content: space-between;
            align-content: center;
            width: 96%;
            margin-top: 15%;
            &__input {
                width: 100%;
                padding: 3% 2%;
                border-radius: 5%;
                font-size: 130%;
            }
            &__lupa {
                margin-top: 1%;
                margin-left: 5%;
                background-image: url("../img/lupa.png");
                background-size: contain;
                background-repeat: no-repeat;
                width: 10%;
                &:active {
                    margin-top: 10px;
                }
            }
        }
        .timing-threshold {
            background: black;
            margin-top: 8%;
            margin-left: 2%;
            padding-left: 2%;
            border-top-left-radius: 10%;
            border-bottom-left-radius: 10%;
            width: 23%;
            margin-left: auto;
            transition: all 0.2s ease-in-out;
            &.active {
                width: 100%;
            }
            .list-value {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-left: auto;
                color: white;
                font-size: 170%;
                
    
                &__hint {
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-size: 80%;
                    opacity: 1;
                    padding-right: 5%;
                    padding-bottom: 2%;
                    &:active {
                        color: rgb(228, 226, 226);
                    }
                }
                &__item {
                    transform:scale(1.3);
                    margin-right: 8%;
                    margin-left: 2%;
                    margin-top: 2%;
                }
                &__item, &__time {
                    opacity: 0;
                    &.active {
                        opacity: 1;
                    }
                }
            }
        }
        .play-control {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-top: 12%;
            zoom: 0.6;
            &__left, &__right {
                background-image: url("../img/peremotka.png");
                background-size: contain;
                background-repeat: no-repeat;
                padding: 7% 0%;
                width: 25%;
                &:active {
                    filter:opacity(0.7)
                }
            }
            &__left {
                transform: rotateZ(180deg);
            }
            &__play {
                padding: 0% 0%;
                &:active {
                    filter: brightness(0.8);
                }
            }
        }
        .subscriptions {
            padding: 3%;
            margin-top: 20%;
        }
        .volume-container {
            margin-top: 20%;
            zoom: 0.5;
            .volume-control {
                display: flex;
                align-items: center;
                height: 80px;
                
        
                background: black;
                border-radius: 15%;
                &__turn {
                    width: 160px;
                    height: 160px;
                    &:active {
                        filter: brightness(0.8);
                    }
                }
                &__turn:nth-child(2) {
                    margin-right: auto;
                }
                &__full-screen {
                    zoom: 0.7;
                    
                    background: white;
                    &:active {
                        filter: brightness(0.8);
                    }
                }
                &__turn:nth-child(4) {
                    margin-left: auto;
                }
    
            }
        }
    }
    .general-container {
        position: fixed;
        background: white;
        width: 375px;
        height: calc(667px - 4%);
        top: 6%;
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease-in-out;
        &.active {
            opacity: 1;
            pointer-events: all;
        }
        .general-control {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            font-size: 200%;
            margin-top: 20%;
            pointer-events: none;
            transition: all 0.3s ease-in-out;
            &.active {
                opacity: 1;
                pointer-events: all;
            }
            &__zoom {
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 100%;

                button {
                    padding-top: 4%;
                    padding-bottom: 5%;
                    font-size: 120%;
                }
                .hint {

                }
            }

            &__turn-off {
                width: 80%;
                margin-top: 20%;
            }
        }
    }
    .hr {
        height: 5px;
        width: 80%;
        background: rgb(189, 21, 21);
        margin-top: 20%;
    }
    .youtube-query-container {
        position: fixed;
        background: white;
        width: 360px;
        height: calc(667px - 4%);
        top: 6%;
        opacity: 1;
        transition: all 0.3s ease-in-out;
        .youtube-query-control {
            display: flex;
            flex-direction: column;
            margin-top: 10%;
            .video-container {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                &__item {
                    text-align: center;
                    line-height: 300%;
                    font-size: 200%;
                    flex-basis: 30%;
                    padding: 1% 0%;
                    background: black;
                    color: white;
                    margin-top: 5%;
                    &:active {
                        background: rgb(48, 48, 48);
                    }
                }
            }
            input {
                margin-top: 5%;
                font-size: large;
            }

        }
        .hr {
            margin-top: 5%;
            width: 100%;
        }
        h3 {
            margin-top: 5%;
            
        }
        .tab-control {
            display: flex;
            justify-content: center;
            
            margin-top: 5%;
            font-size: 500%;
            &__close {
                padding: 0% 10%;
                font-weight: bold;
            }
            & * {
                cursor: pointer;

            }
        }
    }
    

}



