@import 'font-rule.scss';

* {
    
}

main {
    .navbar {
        display: flex;
        &__youtube-main {
            background-image: url("../img/youtube-logo-options.png");
            background-size: contain;
            background-repeat: no-repeat;
            width: 100%;
            &:active {
                filter:opacity(0.7)
            }
        }
        &__player {
            background-image: url("../img/nav-player.png");
            background-size: contain;
            background-repeat: no-repeat;
            width: 93%;
            display: flex;
            justify-content: center;
        }
        &__main {
        }
    }
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 1%;
    .find-video {
        display: flex;
        justify-content: space-between;
        align-content: center;
        width: 100%;
        margin-top: 10%;
        input {
            width: 100%;
            padding: 3% 2%;
            border-radius: 5%;
            font-size: 130%;
        }
        &__lupa {
            margin-top: 1%;
            margin-left: 5%;
            background-image: url("../img/lupa.png");
            background-size: contain;
            background-repeat: no-repeat;
            width: 10%;
            &:active {
                margin-top: 10px;
            }
        }
    }
    .button-style {
        font-size: 100%;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: white;
        background: black;
        border-radius: 15%;
        &:active {
            background: $red;
        }
    }

        .zoom-buttons, .scroll-buttons {
            z-index: 99;
            height: 55%;
            position: fixed;
            display: flex;
            top: 25%;
            flex-direction: column;
        }
        .zoom-buttons {
            left: 1%;
        }
        .scroll-buttons {
            left: 87%;
            zoom: 1.8;
            height: 57%;
        }
        .zoom-plus, .zoom-minus {
            height: 12%;
        }
        .zoom-minus {
            margin-top: auto;
        }

        .scroll-down, .scroll-up {
            height: 19%;
        }
        .scroll-up {
            transform: rotateZ(180deg);
        }
        .scroll-down {
            margin-top: auto;
        }
    .youtube-player-container {
        height: 0;
        opacity: 0;
        transition: opacity ease-out 0.2s;
        pointer-events: none;
        &.active {
            height: 100%;
            opacity: 1;
            margin-top: 15%;
            pointer-events: all;
        }
        .find-video {
            display: flex;
            justify-content: space-between;
            align-content: center;
            width: 100%;
            margin-top: 10%;
            &__input {
                width: 100%;
                padding: 3% 2%;
                border-radius: 5%;
                font-size: 130%;

            }
            &__lupa {
                margin-top: 1%;
                margin-left: 3%;
                margin-right: 1%;
                background-image: url("../img/lupa.png");
                background-size: contain;
                background-repeat: no-repeat;
                width: 10%;
                &:active {
                    margin-top: 10px;
                }
            }
        }
        
        .play-control {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            margin-top: 15%;
            zoom: 0.45;
            &__left, &__right {
                background-image: url("../img/peremotka.png");
                background-size: contain;
                background-repeat: no-repeat;
                padding: 6% 3%;
                width: 25%;
                &:active {
                    filter:opacity(0.7)
                }
            }
            &__left {
                transform: rotateZ(180deg);
            }
            &__play {
                padding: 0% 0%;
                &:active {
                    filter: brightness(0.8);
                }
            }
        }
        .popular-hint {

        }
        .popular-query {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 7%;
            margin-bottom: 1%;
            padding: 0% 8%;
            &__item {
                font-size: 90%;
                padding: 2.5%;
                
                margin: 2% 1%;
            }
            &__edit {
                padding: 4% 6%;
                background: $red;
                margin-left: 3%;
                margin-right: 3%;
                border-radius: 30%;
            }
            &:nth-child(3) {
                padding: 0% 16%;
                margin-top: 0%;
                height: 110px;
                overflow-y: scroll;
            } 
        }

        .volume-container {
            margin-top: 6%;
            zoom: 0.4;
            .volume-control {
                display: flex;
                align-items: center;
                background-image: url("../img/scale_volume5.png");
                background-size: contain;


                border-radius: 15%;
                &__turn {
                    width: 160px;
                    height: 160px;
                    
                    &:active {
                        filter: brightness(0.8);
                    }
                }
                &__turn:nth-child(2) {
                    margin-right: auto;
                }
                &__full-screen {
                    zoom: 0.7;
                    background: rgb(27, 27, 27);
                    
                    &:active {
                        filter: brightness(0.8);
                    }
                }
                &__turn:nth-child(4) {
                    margin-left: auto;
                }
    
            }
        }
    }
    .general-container {
        background: white;
        width: 99%;
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease-in-out;
        z-index: 2;
        height: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        &.active {
            height: 100%;

            opacity: 1;
            pointer-events: all;
        }

        .general-control {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            width: $widthOptions;
            h2 {
                margin-top: 7%;
            }
            h3 {
                margin-top: -2%;
                margin-left: 1%;
            }
            .tab-control {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                margin-top: 5%;
                &__left, &__right {
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 40px;
                    height: 40px;
                    background-image: url("../img/arrow.png");
                }
                &__left {
                    transform: rotateZ(180deg);
                }
                &__close {
                    background-image: url("../img/cancel.png");
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 40px;
                    height: 40px;
                }
                &__refresh {
                    background-image: url("../img/refresh-page.png");
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 50px;
                    height: 50px;
                }
                & * {
                    cursor: pointer;
                }
            }
            &__turn-off {
                background-image: url("../img/powerOFF.png");
                background-size: contain;
                background-repeat: no-repeat;
                width: 100px;
                height: 100px;
                margin-top: 1%;

            }
        }
    }
    .hr {
        height: 5px;
        width: 80%;
        background: $red;
        margin-top: 10%;
    }
    .youtube-options-container {
        background: white;
        width: 99%;
        height: 500px;
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease-in-out;
        z-index: 2;
        height: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        &.active {
            height: 100%;
            opacity: 1;
            pointer-events: all;
        }
        .youtube-options-control {
            width: $widthOptions;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: -1%;
            margin-left: 2%;
            margin-right: 2%;
            h3 {
                margin-top:3%;
                width: 120%;
                text-align: center;
            }
            .list-value {
                display: flex;
                justify-content: space-between;
                margin-top: 1%;
                font-size: 150%;
                width: 100%;
                &__youtube, &__google {

                }
                & * {
                    font-size: 90%;
                }
                &__time {
                    width: 40px;
                    height: 40px;
                   
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: black;
                    color: white;
                    &:active {
                        background: $red;
                    }
                }
            }

        }
        .hr {
            margin-top: 6%;
            width: 100%;
        }


    }
    .video-by-time-container {
        display: flex;
        flex-direction: column;
      
        height: 0;
        opacity: 0;
        transition: opacity 0.2s ease-in;
        pointer-events: none;
        align-items: center;
        &.active {
            opacity: 1;
            background: white;
            width: 100%;  
            height: 90%;
            pointer-events: all;
        }
        .video-container {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            margin-top: 3%;
            width: 70%;
            &__item {
                text-align: center;
                font-size: 200%;
                flex-basis: 22%;
                padding: 2% 0%;
                background: black;
                color: white;
                margin-top: 2%;
                opacity: 1;
                &.active {
                    background: $red;
                }
                &:active {
                    background: rgb(48, 48, 48);
                }

            }
        }
        .video-nav {
            display: flex;
            margin-top: 5%;
            width: 73%;
            justify-content: space-around;
            &__left, &__right {
                background-size: contain;
                background-repeat: no-repeat;
                width: 50px;
                height: 50px;
                background-image: url("../img/arrow2.png");
                &:active {
                    opacity: 0.8;
                }
            }
            &__left {
                transform: rotateZ(180deg);
            }
        }
        .subscribe {
            display: flex;
            flex-direction: column;
            margin-top: 5%;
            width: 50%;
            justify-content: space-around;
            
            &__action {
                padding: 4%;
                background: $red;
                border-radius: 8px;
            }
            &__author-video {
                margin-top: 4%;
                padding: 4%;
                border-radius: 5px;
            }
        }

    }
    .close-select-video {
        position: fixed;
        top: 96%;
        height: 7%;
        font-size: 130%;
        background: black;
        border-top-left-radius: 10%;
        border-top-right-radius: 10%;
        color: white;
        
        width: 93%;
        text-align: center;
        z-index: 3;
        margin-top: -5%;
        &.active {
            z-index: initial;
            border-radius: 20%;
            
        }
    }
}
.popular-edit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    h3 {
        margin-top: 1%;
    }
    .popular-address {
        display: flex;
        margin-left: 1.5%;
        margin-bottom: 2.5%;
        input {
            font-size: 120%;
            margin-right: 1%;
            border-radius: 5%;
        }        
        .get-url {
            padding: 0% 4%;
        }
    }
}

.volume-indicator {
    display: flex;
    background: #c9c6c6;
    align-items: center;
    width:50%;
    position: fixed;
    left: 25%; 
    top: 85%;
    border-radius: 3px;
    font-size: 100%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1% 2%;
    .volume-scale {
        display: flex;
        align-items: center;
        width: 100%;
        height: 20px;
        background: rgb(108, 108, 192);
        margin: 0% 5%;
        margin-right: 4%;
        border-radius: 3px;
        &__item {
            width: 10%;
            height: 90%;
            margin: 0% 0.5%;
            opacity: 0;
            background: #a8a7a7;
            &:first-child {
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
            }
            &:last-child {
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
            }
        }
    }
}



